/.settings
/nd-tuples/.settings
/nd-tuples/.classpath
/nd-tuples/.project
/nd-tuples/target
/nd-iteration/.settings
/nd-iteration/.classpath
/nd-iteration/.project
/nd-iteration/target
/nd-distance/.settings
/nd-distance/.classpath
/nd-distance/.project
/nd-distance/target
/nd-arrays/.settings
/nd-arrays/.classpath
/nd-arrays/.project
/nd-arrays/target
/nd-gen/.settings
/nd-gen/.classpath
/nd-gen/.project
/nd-gen/target
/.project
/nd-gen/src/generated
